<% if params[:warnable_type] %>
  <h1>
    <%= link_to "#{params[:warnable_type].humanize} ##{params[:warnable_id]}", @warnable %> Warnings
  </h1>
<% else %>
  <h1>Warnings</h1>
<% end %>

<h3>Search Warnings</h3>

<%
if params[:warnable_type]
  form_action = send("#{params[:warnable_type].underscore}_warnings_path")
else
  form_action = ActsAsWarnable::Engine.routes.url_helpers.warnings_path
end
%>

<%= form_tag form_action, method: :get do %>
<div class="row">
    <div class="col-xs-3">
      <%= label_tag :active_only, "Active" %>
      <%= select_tag :active_only,
                     options_for_select( [["", ""], ["Yes", true], ["No", false]], params[:active_only] ),
                     { class: 'form-control select2' } %>
    </div>
  <div class="col-xs-9">
    <%= label_tag :source, "Source" %>
    <%= select_tag :source,
                   options_for_select(@warning_sources, params[:source]),
                   { class: 'form-control select2', multiple: true } %>
  </div>
  <div class="col-xs-12">
    <%= submit_tag "Search", class: 'btn btn-primary clearfix clear' %>
  </div>
</div>
<% end %>

<div>
  <%= paginate @warnings %>
  <%= render 'table', warnings: @warnings %>
  <%= paginate @warnings %>
</div>
