<% if params[:warnable_type] %>
  <h1>
    <%= link_to "#{params[:warnable_type].humanize} ##{params[:warnable_id]}", @warnable %> Warnings
  </h1>
<% else %>
  <h1>Warnings</h1>
<% end %>

<% if params[:active_only] %>
  <% if params[:warnable_type] %>
    <%= link_to "Show dismissed", send("#{params[:warnable_type].underscore}_warnings_path", params[:warnable_id]), { class: 'btn btn-info' } %>
  <% else %>
    <%= link_to "Show dismissed", ActsAsWarnable::Engine.routes.url_helpers.warnings_path, { class: 'btn btn-info' } %>
  <% end %>
<% else %>
  <% if params[:warnable_type] %>
    <%= link_to "Hide dismissed", send("#{params[:warnable_type].underscore}_warnings_path", params[:warnable_id], active_only: true), { class: 'btn btn-info' } %>
  <% else %>
    <%= link_to "Hide dismissed", ActsAsWarnable::Engine.routes.url_helpers.warnings_path(active_only: true), { class: 'btn btn-info' } %>
  <% end %>
<% end %>

<ul>
  <% @warnings.each do |warning| %>
    <li>
      <% if warning.respond_to?(:created_at) && warning.created_at %>
        (<%= warning.created_at %>)
      <% end %>
      <%= link_to "##{warning.id}: (#{warning.source}) #{warning.message.truncate(50)}", ActsAsWarnable::Engine.routes.url_helpers.warning_path(warning) %>
      <% if warning.dismissed? %>
        <%= "(dismissed by #{warning.dismisser.try(:full_name) || warning.dismisser.try(:email) || 'nobody'} on #{warning.dismissed_at.strftime('%c')})" if warning.dismissed? %>
      <% else %>
        <%= button_to_dismiss_warning(warning) %>
      <% end %>
    </li>
  <% end %>
</ul>
