<h1>Warnings</h1>

<% if params[:active_only] %>
  <%= link_to "Show dismissed", ActsAsWarnable::Engine.routes.url_helpers.warnings_path() %>
<% else %>
  <%= link_to "Hide dismissed", ActsAsWarnable::Engine.routes.url_helpers.warnings_path(active_only: true) %>
<% end %>

<ul>
  <% @warnings.each do |warning| %>
    <ul>
      <%= link_to "##{warning.id}: #{warning.message.truncate(10)}", ActsAsWarnable::Engine.routes.url_helpers.warning_path(warning) %>
      <% if warning.dismissed? %>
        <%= "(dismissed by #{warning.dismisser.try(:full_name) || warning.dismisser.try(:email)} on #{warning.dismissed_at.strftime('%c')})" if warning.dismissed? %>
      <% else %>
        <%= button_to_dismiss_warning(warning) %>
      <% end %>
    </ul>
  <% end %>
</ul>
