<h1>Warning #<%= @warning.id %> (<%= @warning.source %>)</h1>
<div class='row'>
  <%= @warning.message %>
</div>
<div class='row'>
  <% if @warning.dismissed? %>
    Dismissed by <%= @warning.dismisser.try(:full_name) || @warning.dismisser.try(:email) || 'someone' %>
    on <%= @warning.dismissed_at.strftime('%c') %>
  <% else %>
    <%= button_to_dismiss_warning(@warning) %>
  <% end %>
</div>
