<h1>Warning #<%= @warning.id %> (<%= @warning.source %>) from <%= link_to "#{@warning.warnable_type.underscore.humanize} ##{@warning.warnable_id}", @warning.warnable %></h1>
<% if warning.respond_to?(:created_at) && warning.created_at %>
  (<%= warning.created_at %>)
<% end %>
<div class='row'>
  <%= @warning.message %>
</div>
<div class='row'>
  <% if @warning.dismissed? %>
    Dismissed by <%= @warning.dismisser.try(:full_name) || @warning.dismisser.try(:email) || 'someone' %>
    on <%= @warning.dismissed_at.strftime('%c') %>
  <% else %>
    <%= button_to_dismiss_warning(@warning) %>
  <% end %>
</div>
