<h1>
  Warning #<%= @warning.id %> (<%= @warning.source %>)
  from
  <%= link_to "#{@warning.warnable_type.underscore.humanize} ##{@warning.warnable_id}", \
        @warning.warnable \
        rescue "#{@warning.warnable_type.underscore.humanize} ##{@warning.warnable_id}" %>
</h1>

<% if @warning.try(:created_at) %>
  (<%= @warning.created_at %>)
<% end %>

<article class='warning-markdown box-info'>
<%# This must have no indentation so as to not confuse MD into thinking the first line is a code block %>
<pre class='md-content'><%= @warning.message.gsub('</pre>', '&lt;/pre&gt;').html_safe %></pre>
</article>

<div class='warning-dismissed-message'>
  <% if @warning.dismissed? %>
    Dismissed by <%= @warning.dismisser.try(:full_name) || @warning.dismisser.try(:email) || 'nobody' %>
    on <%= @warning.dismissed_at.strftime('%c') %>
  <% else %>
    <%= button_to_dismiss_warning(@warning) %>
  <% end %>
</div>
